name: iOS Framework Check (No Apple ID)

on:
  push:
    branches: [ "main", "master" ]

jobs:
  check-framework:
    runs-on: macos-latest # Bắt buộc dùng macOS để có bộ biên dịch cho iOS

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Java 11
        uses: actions/setup-java@v4
        with:
          java-version: '11' 
          distribution: 'temurin'
          cache: gradle

      - name: Grant Execute Permission
        run: chmod +x gradlew

      - name: Compile iOS Framework
        run: ./gradlew :composeApp:assembleComposeAppReleaseFrameworkIosArm64
