name: iOS Framework Check (build web app)

on:
  # push:
  #   branches: [ "main", "master" ]
  workflow_dispatch: # Để ông có thể bấm chạy thủ công nếu muốn

jobs:
  check-framework:
    runs-on: macos-latest

    steps:
      # 1. Lấy code từ repo về máy ảo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Cài đặt Java 17 (Bắt buộc cho AGP 8.x của ông)
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      # 3. Cấp quyền thực thi cho file gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # 4. Build Framework cho Simulator
      - name: Build Simulator Framework
        run: ./gradlew :composeApp:wasmJsBrowserDistribution

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Cinema-Web-PWA
          path: composeApp/build/dist/wasmJs/productionExecutable
      
